@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  position: relative;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
  opacity: 0.6;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #229efd 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #68e0cf 0%, #209cff 100%);
}

.hide {
  display: none;
}

.hold {
  border: 3px solid lightpink;
  color: lightpink;
}

@keyframes opacity {
  from {
    opacity: 0;
  } 
  to {
    opacity: 0.6;
  }
}

.placeholder:first-child.hovered,
.placeholder:nth-child(2).hovered,
.placeholder:last-child.hovered {
  border-radius: 20px;
  animation: 0.2s opacity ease-in-out;
}

.placeholder:first-child.hovered {
  background: linear-gradient(-90deg, #ff85e4 0%, #229efd 179.25%);
}

.placeholder:nth-child(2).hovered {
  background: linear-gradient(-90deg, #229efd 0%, #68e0cf 100%);
}

.placeholder:last-child.hovered {
  background: linear-gradient(-90deg, #68e0cf 0%, #209cff 100%);
}

.hold::before {
  position: absolute;
  border-bottom: 2px solid pink;
  border-left: 2px solid pink;
  transform: rotate(-45deg);
  display: block;
  height: 5px;
  width: 8px;
  content: '';
}


